################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutomatedTest/v16
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AutomatedTest/.vs/AutomatedTest/v16/Server/sqlite3
